h3 {
  font-family: 'Patrick Hand SC', cursive;
  margin-bottom: 0;
  margin-top: 40px;
}

p {
  font-style: italic;
  margin: 0;
  font-size: 13px;
}

task-input {
  display: flex;
}

img {
  max-width: 25px;
  float: right;
}

img:hover {
  cursor: pointer;
}