input {
  border: none;
  border-bottom: 1px solid black;
  width: 90%;
  margin: 3px 3.5%;
  resize: vertical;
  padding: 4px;
  background-color: inherit;
}

input:focus {
  border: none;
  border-bottom: 2px solid black;
}

img {
  max-width: 25px;
}

img:hover {
  cursor: pointer;
}